
@media screen and (min-width: 0px) {
    .room {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        width: 100vw;
    }
}

@media screen and (min-width: 600px) {
    .room {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        width: 100vw;
    }
    .game-board{
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }


}

