@media screen and (min-width: 0px) {
    .game-board-view{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) {
    .game-board-view{
        display: grid;
        grid-template-columns: 8fr 2fr 3fr 2fr;
    }

}

.canvas{
    margin: 0 auto;
}

.dictionary{
    margin-top: 30px;
    margin-bottom: 30px;
}

#boardData{
    position: absolute;
}